:root {
  --hero-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --hero-cl: #ffffff;
  --a-focus-cl: #2196f3;
  --h-and-li-cl: #212121;
  --background-header: #ffffff;
  --background-footer: #2f303a;
  --body-cl: #757575;
  --worhy-items: 4;
  --background: #2f303a;
  --work-foto: 3;
  --team-foto: 4;
  --bg: #e5e5e5;
  --bg-team: #f5f4fa;
  --services-button: 5;
  --services-item: 3;
}
