.works {
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-and-li-cl);
}
.works-p {
  color: black;
  margin-bottom: 0px;
  font-family: var(--hero-font);
  font-size: 16px;
  line-height: 1.87;
}
